/* Style général de la page */
body {
  background-color: #f2f2f2;
  color: #000;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

/* Menu en haut */
.header {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header a {
  text-decoration: none;
}

/* Conteneur principal */
.content {
  text-align: center;
  padding: 20px;
  margin-top: 70px;
}

/* Style de la section "Qui suis-je ?" */
.content h1 {
  text-align: center;
}

/* Style de la section "Description BTS SIO option SLAM" */
.sio {
  background-color: #fff;
  color: #000;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Style de la section "Etablissement UFA47" */
.w3-text-black {
  font-size: medium;
  text-align: center;
  color: red;
}
/* Style de la section "Etablissement UFA47" - Contenu ombre */
.ufa47-content {
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Style de la section "Contactez moi" */
.Contact {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 250px; /* Ajoutez une marge supérieure pour éviter la superposition */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Style de la section "Coordonnées" */
.coordonnee {
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Pied de page */
.footer {
  height: 100px;
}

.logo-image {
  text-align: center;
}
.img-ufa {
  height: 15vh;
}
.logo-profil {
  text-align: center;
}
.img-profil {
  height: 100px; /* Ajustez selon la taille désirée */
  width: 100px; /* Assurez-vous que la largeur et la hauteur sont égales */
  border-radius: 50%; /* Rend l'image circulaire */
  border: 2px solid #000; /* Optionnel : Ajoutez une bordure, modifiez la couleur et l'épaisseur comme souhaité */
}


.feedlylogo {
  align-items: center;
  
}
